<%# <svg class="test">
  <filter id="monochrome" color-interpolation-filters="sRGB"
          x="0" y="0" >
    <feColorMatrix type="matrix"
      values="1.00 0 0 0  0 
              0.80 0 0 0  0  
              0.65 0 0 0  0 
                0  0 0 1  0" />
  </filter>
</svg> %>

<img id="img_background_building" src="/assets/Building-0120db727d185bddd2c48c97ffd6fb9e9a9c4b0b8b1cd5709dee4385c2c2a69c.jpg">

<div class="container">
    <div class="user">
        <div class="photo-user">
            <%= image_tag "photo-cv-Violaine.jpg", id:"photo_cv_violaine"%>
        </div>
        <div class="user-infos">
            <% @users.each do |user| %>
                <div class="txt-user">
                    <div class="name">
                        <p id="first-name"><%= user.first_name %></p>
                        <p><%= user.last_name %></p>
                    </div>
                    <h2><strong>Product Owner / Chef de Projet Digital</strong></h2>
                    <br>
                    <p><strong>Email:</strong></p>
                    <p class="infos"><%= user.email %></p>
                    <p><strong>Téléphone:</strong></p>
                    <p class="infos"><%= user.phone_number %></p>
                    <p><strong>Date de naissance:</strong></p>
                    <p>03/04/1992</p>
                </div>
            <% end %>
        </div>
    </div>

    <div id="instagram-link">
        <a href="https://www.linkedin.com/in/violaine-rouhet/" title="Linkedin" id="linkedin-btn"><i class="bi bi-linkedin"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212h-2.4s.03-6.547 0-7.225h2.4v1.023a5.54 5.54 0 0 0-.016.025h.016v-.025c.32-.493.89-1.193 2.165-1.193 1.58 0 2.764 1.033 2.764 3.252v4.143h-2.4V9.529c0-.972-.348-1.634-1.217-1.634-.664 0-1.059.447-1.233.878-.063.154-.079.37-.079.586v4.035z"/>
            </svg>
        </a>
    </div>

    <h2 id="intro-title">Hello, Hello</h2>
    <p id="intro">
        Suite à mes différentes expériences professionnelles, l'innovation digitale, le développement web et les relations avec les personnes m'attirent. Jeune diplômée depuis Septembre 2018 je recherche actuellement un CDI au poste de Product Owner.
    </p>

</div>